---
import Layout from '@layouts/Layout.astro'
import Container from '@components/container.astro'
import Sectionhead from '@components/sectionhead.astro'
import PricingCard from '@components/pricing.astro'

/**
 * @typedef {Object} PricingButton
 * @property {string} text - 按钮显示的文本
 * @property {string} link - 按钮跳转的链接
 */

/**
 * @typedef {Object} PricingPrice
 * @property {string} monthly - 月付价格
 * @property {string} annual - 年付价格
 * @property {string} discount - 折扣百分比
 * @property {string} original - 原始价格
 */

/**
 * @typedef {Object} PricingPlan
 * @property {string} name - 套餐名称
 * @property {(string|PricingPrice)} price - 套餐价格，可以是字符串或者详细的价格对象
 * @property {boolean} popular - 是否为推荐套餐
 * @property {string[]} features - 套餐包含的功能列表
 * @property {PricingButton} button - 套餐对应的按钮配置
 */

/** @type {PricingPlan[]} */
const pricing = [
  {
    name: 'Personal',
    price: 'Free',
    popular: false,
    features: [
      'Lifetime free',
      'Up to 3 users',
      'Unlimited Pages',
      'Astro Sub domain',
      'Basic Integrations',
      'Community Support',
    ],
    button: {
      text: 'Get Started',
      link: '/',
    },
  },
  {
    name: 'Startup',
    price: {
      monthly: '$19',
      annual: '$16',
      discount: '10%',
      original: '$24',
    },
    popular: true,
    features: [
      'All Free Features',
      'Up to 20 users',
      '20 Custom domains',
      'Unlimited Collaborators',
      'Advanced Integrations',
      'Priority Support',
    ],
    button: {
      text: 'Get Started',
      link: '#',
    },
  },
  {
    name: 'Enterprise',
    price: 'Custom',
    popular: false,
    features: [
      'All Pro Features',
      'Unlimited Custom domains',
      '99.99% Uptime SLA',
      'SAML & SSO Integration',
      'Dedicated Account Manager',
      '24/7 Phone Support',
    ],
    button: {
      text: 'Contact us',
      link: '/contact',
    },
  },
]
---

<!--
@component
 * 定价页面组件
 *
 * @description
 * 展示三种不同定价方案的页面组件，包括个人版、创业版和企业版。
 * 使用网格布局在桌面端显示三列，在移动端自动调整为单列布局。
-->
<Layout title='Pricing'>
  <Container>
    <Sectionhead>
      <Fragment slot='title'>课程介绍</Fragment>
      <Fragment slot='desc'>
        我们致力于提供专业且丰富的咖啡课程，助力您在咖啡领域不断进步。
      </Fragment>
    </Sectionhead>
    <div class='flex flex-col gap-3 mx-auto max-w-4xl mt-16'>
      <h2 class='font-bold text-3xl text-gray-800'>
        <!-- SCAA（美国精品咖啡协会）与 SCAE（欧洲精品咖啡协会）于 2017 年 1
        月合并，正式组成了世界上最大最权威的精品咖啡协会 SCA（Specialty Coffee
        Association）。 -->
      </h2>
      <p class='text-lg leading-relaxed text-slate-500'>
        SCA 的教育体系下划分有 “CSP” 系统，即 COFFEE SKILLS
        PROGRAM（咖啡师技能培训计划）。这个计划包括了六个模块、三个级别、四张文凭，你可以根据自己的需求与爱好选择相应的课程学习。
      </p>
    </div>
    <!-- <div class='grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12'>
      {pricing.map(item => <PricingCard plan={item} />)}
    </div> -->
  </Container>
</Layout>
